<%= simple_form_for(@grcrd) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :g_nam1, label: 'First Name' %>
    <%= f.input :g_name2, label: 'Second Name' %>
    <%= f.input :g_idnum, label: 'Grant Co-rd Id No' %>
    <%#= f.input :g_photo, label: 'First Name' %>
    <%= f.input :g_title, label: 'Title' %>
    <%= f.input :g_email, label: 'Email Id' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
