<p id="notice"><%= notice %></p>

<p>
  <strong>G nam1:</strong>
  <%= @grcrd.g_nam1 %>
</p>

<p>
  <strong>G name2:</strong>
  <%= @grcrd.g_name2 %>
</p>

<p>
  <strong>G idnum:</strong>
  <%= @grcrd.g_idnum %>
</p>

<p>
  <strong>G photo:</strong>
  <%= @grcrd.g_photo %>
</p>

<p>
  <strong>G title:</strong>
  <%= @grcrd.g_title %>
</p>

<p>
  <strong>G email:</strong>
  <%= @grcrd.g_email %>
</p>

<%= link_to 'Edit', edit_grcrd_path(@grcrd) %> |
<%= link_to 'Back', grcrds_path %>
