<p id="notice"><%= notice %></p>
<h1>Grant Coordinators</h1>
<p>
  <strong>First Name</strong>
  <%= @grcrd.g_nam1 %>
</p>

<p>
  <strong>Surname</strong>
  <%= @grcrd.g_name2 %>
</p>

<p>
  <strong>ID-number</strong>
  <%= @grcrd.g_idnum %>
</p>

<p>
  <strong>G photo:</strong>
  <%= @grcrd.g_photo %>
</p>

<p>
  <strong>Title:</strong>
  <%= @grcrd.g_title %>
</p>

<p>
  <strong>Email Id:</strong>
  <%= @grcrd.g_email %>
</p>

<%= link_to 'Edit', edit_grcrd_path(@grcrd) %> |
<%= link_to 'Back', grcrds_path %>
