<p id="notice"><%= notice %></p>
<h1>Vacinators</h1>
<p>
  <strong>Vaccinator 1st Name:</strong>
  <%= @vaccinator.vac_name1 %>
</p>

<p>
  <strong>Vaccinator 2nd Name:</strong>
  <%= @vaccinator.vac_name2 %>
</p>

<p>
  <strong>Vaccinator ID-num:</strong>
  <%= @vaccinator.vac_idnum %>
</p>

<p>
  <strong>Vaccinator Photo:</strong>
  <img src="<%= @vaccinator.vac_photo %>" alt="">
</p>

<p>
  <strong>Vaccinator Title:</strong>
  <%= @vaccinator.vac_title %>
</p>

<p>
  <strong>Vendor Name:</strong>
  <%= @vaccinator.vendor_name %>
</p>

<p>
  <strong>Vaccinator email:</strong>
  <%= @vaccinator.vac_email %>
</p>

<%= link_to 'Edit', edit_vaccinator_path(@vaccinator) %> |
<%= link_to 'Back', vaccinators_path %>
