<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>


  <div class="form-inputs">
    <%= f.input :pcountry, placeholder: 'Country', label: 'Select your country' %>
    <%= f.input :pstate, placeholder: 'State', label: 'Enter your State'%>
    <%= f.input :paddress1, placeholder: '1st Address', label: 'Enter 1st Address' %>
    <%= f.input :paddress2, placeholder: '2nd Address', label: 'Enter 2nd Address' %>
    <%= f.input :project, placeholder: 'Project Number', label: 'Project Number' %>
    <%= f.input :noofvac, placeholder: 'Target Vaccinations', label: 'Target Vaccinations this Proj.' %>
    <%= f.association :grcrd, label_method: :g_email, value_method: :id, include_blank: false, placeholder: 'Grant Coordinator ID', label: 'Grant Coordinator ID' %>
    <%= f.error :grcrd %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
