<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :pcountry %>
    <%= f.input :pstate %>
    <%= f.input :paddress1 %>
    <%= f.input :paddress2 %>
    <%= f.input :project %>
    <%= f.input :noofvac %>
    <%= f.association :grcrd %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
