<p id="notice"><%= notice %></p>


<div class="container">
  <h1>Projects</h1>
  <table class="table">
    <thead>
    <tr>
      <th>Project Country</th>
      <th>Project State</th>
      <th>Project 1st Address</th>
      <th>Project 2nd Address</th>
      <th>Project ID</th>
      <th>Number of Vac's</th>
      <th>Grant Co-rd</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.pcountry %></td>
        <td><%= project.pstate %></td>
        <td><%= project.paddress1 %></td>
        <td><%= project.paddress2 %></td>
        <td><%= project.project %></td>
        <td><%= project.noofvac %></td>
        <td><%= project.grcrd %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Project', new_project_path %>
</div>
