<p id="notice"><%= notice %></p>
<h1>Projects</h1>
<p>
  <strong>Project Country:</strong>
  <%= @project.pcountry %>
</p>

<p>
  <strong>Project State:</strong>
  <%= @project.pstate %>
</p>

<p>
  <strong>Project 1st Address:</strong>
  <%= @project.paddress1 %>
</p>

<p>
  <strong>Project 2nd Address:</strong>
  <%= @project.paddress2 %>
</p>

<p>
  <strong>Project ID:</strong>
  <%= @project.project %>
</p>

<p>
  <strong>No. of Vacinations this project:</strong>
  <%= @project.noofvac %>
</p>

<p>
  <strong>Grant Co-rd:</strong>
  <%= @project.grcrd.g_email %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
