<%= simple_form_for(@patient) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :surname %>
    <%= f.input :dob %>
    <%= f.input :photo %>
    <%= f.input :gender %>
    <%= f.input :address1 %>
    <%= f.input :address2 %>
    <%= f.input :post_code %>
    <%= f.input :state %>
    <%= f.input :country %>
    <%= f.association :vaccinator %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
