<p id="notice"><%= notice %></p>
<h1>Patients</h1>
<p>
  <strong>First name:</strong>
  <%= @patient.first_name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @patient.surname %>
</p>

<p>
  <strong>DOB:</strong>
  <%= @patient.dob %>
</p>

<p>
  <strong>Photo:</strong>
  <%#= image_tag(@patient.photo) %>
  <img src="<%= @patient.photo %>" alt="">
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @patient.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @patient.address2 %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @patient.post_code %>
</p>

<p>
  <strong>State:</strong>
  <%= @patient.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @patient.country %>
</p>

<p>
  <strong>Vaccinators:</strong>
  <%= @patient.vaccinator.vac_email %>
</p>

<p>
  <strong>Project:</strong>
  <%= @patient.project.project %>
</p>


<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
